<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GT-Hive</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <% if (locals.isConfirmed) { %>
    <h3>Your email address has been confirmed!</h3>
  <% } else { %>
    <form action="/api/v1/auth/request-confirm-email/<%- token %>" method="post">
      <h3>This link is expired. </h3>
      <input type="submit" value="Click here to request an email again.">
    </form>
  <% } %>
</body>
</html>
